<!DOCTYPE html >

<html>
    <head>
        <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="bundle.js"> </script>
        <link rel="stylesheet"  href="node_modules/bootstrap/dist/css/bootstrap.min.css" >
        <link rel="stylesheet"  href="src/style.css" />
    </head>

<body class="container-fluid" ng-app="app" ng-controller='appController as vm'  class="ng-cloak">

<div classe="container">
            <div class="header" style="min-height:50px;">
                {{vm.title}}
            </div>
            
            <div class="container-fluid">

                <div class="row">
                <div class="col-md-6" >
                    <h2>Accounts List, select main:</h2>
                    <div style="height:400px; overflow-y:scroll;">
                        <table class="table">
                            <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Accounts</td>
                                        <td>Select</td>
                                        <td>Verify</td>
                                        <td>Main</td>
                                    </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="acc in vm.accounts" ng-class="{'redcase': $index==vm.activeIndex2}">
                                    <td>{{$index}}</td>
                                    <td>{{acc}}</td>
                                    <td><input type="checkbox" style = "width: 30px; height: 30px;" ng-click="vm.selectAddr($index, acc)" ng-checked="$index==vm.activeIndex"> </td>
                                    <td><button class="btn btn-primary" ng-click="vm.checkAddress($index, acc)"> OnChain?</button> </td>
                                    <td><button class="btn btn-primary" ng-click="vm.changeMain($index, acc)"> Main</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <form>
                            <div class="form-group">
                                <label for="targetChange">Current Target {{vm.target_adr}}</label>
                                <input id="targetchange" class="form-control" type="text" ng-model="vm.target_adr">
                            </div>                            
                        </form>
                    </div>

                </div>
                <div class="col-md-6" class="main-context">
                    <h2>Contract Set Up</h2>
                    <div>
                            <h4> Deploy contract => gas neded : {{vm.contract_gas_needed}}</h4>
                            <button class="btn btn-primary" ng-click='vm.addContract()'>Deploy</button>
                    </div> 
                    <div>
                        <dl>
                            <dt> Contract Information</dt>
                            <dd>     
                                <p>Address: {{vm.minedContract.address}}</p>
                                <p class="over-flow">ABI: {{vm.minedContract.abi}}</p>
                            </dd>
                        </dl>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-warning" ng-click="vm.showContract()">Create Contract Object</button>
                                </div>
                            </div>
                                    <hr>
                        <div>
                            <div class="row">
                                <h3>Change Contract Object Inut</h3>
                                <form class = "form-group col-md-8" >
                                    <label for = "newAdre"> New Contract Address</label>
                                    <input type = "text" id = "newAdre" class="form-control" ng-model="vm.temp_adr">

                                    <label for="newAbi">New Contract Abi</label>
                                    <input type="text" id="newAbi" class="form-control" ng-model="vm.temp_abi"> 
                                </form>
                            <div class="col-md-4" >
                                <button class="btn btn-primary" style="margin-top:30px;" ng-click="vm.changeContract(vm.temp_adr,vm.temp_abi);">Change Contract</button>
                            </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <hr>    
    <section class="container-fluid">
            <h2>Registration section</h2>
            <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Registration of a client</h3>
                        <form class="form-group">
                            <label for="fname">Name</label>
                            <input id="fname" class="form-control" type="text" ng-model="vm.client.fname">

                            <label for="sname">Surname</label>
                            <input id="sname" class="form-control" type="text" ng-model="vm.client.sname">

                            <label for="address">Address</label>
                            <input id="address" class="form-control" type="text" ng-model="vm.client.address.street">

                            <label for="region">Region</label>
                            <input id="region" class="form-control" type="number" ng-model="vm.client.address.region">
                        
                            <label for="city">City</label>
                            <input id="city" class="form-control" type="text" ng-model="vm.client.address.city">

                            <label for="country">Country</label>
                            <input id="country" class="form-control" type="text" ng-model="vm.client.address.country">
                            <button class="btn btn-danger" ng-click="vm.addClient()">Add Client</button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <h3>Registration of a validator</h3>
                        <form class="form-group">
                            <label for="valName">Name</label>
                            <input id="valName" class="form-control" type="text" ng-model="vm.validator.name">

                            <label for="valId">Branch Id</label>
                            <input id="valId" class="form-control" type="numer" ng-model="vm.validator.id">
                            <button class="btn btn-danger" ng-click="vm.addValidator()">Add Validator</button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <h3>Registration of an auditor</h3>
                        <form class="form-group">

                            <label for="audName">Name</label>
                            <input id="audName" class="form-control" type="text" ng-model="vm.auditor.name">

                            <label for="audId">Auditor Id</label>
                            <input id="audId" class="form-control" type="number" ng-model="vm.auditor.id">
                            <button class="btn btn-danger" ng-click="vm.addAuditor()">Add Auditor</button>
                        </form>
                    </div>
                </div>
    </section>

        <section class="container-fluid" style="margin-bottom:20px;">
            <h2>Cleint identification</h2>
            <hr>
            <div class="row">
                    <div class="col-md-4">
                        <h3>Verify following information</h3>
                        <form class="form-group">
                            <label for="fname">Name</label>
                            <input id="fname" class="form-control" type="text" ng-model="vm.toVerify.fname">

                            <label for="sname">Surname</label>
                            <input id="sname" class="form-control" type="text" ng-model="vm.toVerify.sname">

                            <label for="address">Address</label>
                            <input id="address" class="form-control" type="text" ng-model="vm.toVerify.address.street">

                            <label for="region">Region</label>
                            <input id="region" class="form-control" type="number" ng-model="vm.toVerify.address.region">
                        
                            <label for="city">City</label>
                            <input id="city" class="form-control" type="text" ng-model="vm.toVerify.address.city">

                            <label for="country">Country</label>
                            <input id="country" class="form-control" type="text" ng-model="vm.toVerify.address.country">
                            <button class="btn btn-danger" ng-click="vm.verifyClient()">Verify Information</button>
                        </form>
                        <form>
                            <div class="form-group">
                                <label for="targetChange">Current Target {{vm.target_adr}}</label>
                                <input id="targetchange" class="form-control" type="text" ng-model="vm.target_adr">
                            </div>                            
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                     <h3>Verifying cleint's signed information</h3>
                     <div class="row">
                        <div class="col-md-6">
                            <form class="form-group">
                                <label for="hashId"> Input Hash</label>
                                <input class="form-control" type="text" id="hashId" ng-model="vm.hashedInfo">
                            </form>
                        </div>
                        <div class="col-md-3 form-group">
                            <button class="btn btn-primary" ng-click="vm.hashInfo();">Generate Hash</button>
                        </div>
                        <div class="col-md-3 form-group">
                            <button class="btn btn-warning" ng-click="vm.verifyClient();">Verify Hash</button>
                        </div>
                     </div>
                      <div class="row">
                        <div class="col-md-6 ">
                            <form class="form-group">
                                <label for="signId"> Input Signature</label>
                                <input class="form-control" type="text" id="signId" ng-model="vm.signedHash">
                            </form>
                        </div>
                         <div class="col-md-3 form-group">
                              <button class="btn btn-primary" ng-click="vm.generateSignature();">Generate Signature</button>
                         </div>
                         <div class="col-md-3 form-group" >
                              <button class="btn btn-warning" ng-click="vm.verifySignature();">Verify Signature</button>
                         </div>
                       </div>
                       <div>
                           <h5>Signature belongs to: {{vm.signatureStatus}}</h5>
                       </div>
                       <hr>
                       <div>
                           <h4>Use the signature and info to change client's data</h4>
                           <div>
                               <button class="btn btn-danger" ng-click="vm.changeClientData()">  Change Data  </button>
                           </div>
                       </div>
                    </div>
            </div>
           
         </section>

    <section class="container-fluid" style="margin-bottom:20px;">
            <h2>Auditing</h2>
            <hr>
            <div class="row">
                    <div class="col-md-4">
                        <h3>Request about following address</h3>
                        <form>
                            <div class="form-group">
                                <label for="targetChange">Current Target {{vm.target_adr}}</label>
                                <input id="targetchange" class="form-control" type="text" ng-model="vm.target_adr">
                            </div>   
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <button class="btn btn-primary" ng-click="vm.addInvestigation()"> Add Request</button>
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn btn-danger" ng-click="vm.endInvestigation()"> Delete Request</button>
                                    </div>
                                </div>    
                            </div>                         
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                     <h3>Show requests</h3>
                     <div>
                         <div class="group-form">
                             <button class="btn btn-primary" ng-click="vm.showInvestigation();">
                                Show Target Investigation
                             </button>
                         </div>
                         <h3>{{vm.investigationTarget}}</h3>
                     </div>
                    </div>
            </div>
         </section>
     </div>
    </body>
</html>

